<% layout('layout') -%>
<!-- 
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script> -->

<!-- <script src="/libs/jquery.min.js"></script>
<link rel="stylesheet" href="/libs/bootstrap.min.css">
<script src="/libs/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="/css/gridstyle.css"> -->

<script type="text/javascript" src="/js/home.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="/css/homeTabs.css"> -->
<!------ Include the above in your HEAD tag ---------->

<div class="text-center">
    <div class="row font-weight-bold">
    <div class="header">Seychelles invoice history</div>
    </div>
  <!-- Responsive table starts here -->
  <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
  <div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <div class="table-responsive-vertical shadow-z-1">
        <div class="col-md-12">
                <ul class="nav nav-pills">
                       
                        <li class="nav-item col-md-6" ><a class="nav-link active"  href="#tab1primary" data-toggle="tab"><strong>Sold Orders</strong></a></li>
                    <li class="nav-item col-md-6"><a class="nav-link"  href="#tab2primary" data-toggle="tab"><strong>Purchase Orders</strong></a></li>
                      </ul>
                      
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div class="tab-pane container active" id="tab1primary">
                                <table id="tblInvoiceOrder" class="table table-hover table-mc-light-blue">
                                        <thead>
                                            <tr>
                                                <th>Order#</th>
                                                <th>Currency Name</th>
                                                <th>FM</th>
                                                <th>Amount</th>
                                                <th>Rate</th>
                                                <th>Amount Received</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%InvoiceOrderList.forEach(function(order){%>
                                            <tr onclick="RedirectToViewInvoice('<%= order.OrderNo %>',event)">          
                                                <td data-title="OrderNo" onclick="RedirectToViewInvoice('<%= order.OrderNo %>',event)"><a><%= order.OrderNo %></a></td>
                                                <td data-title="Name" ><%= order.CurrencyName %></td>
                                                <td data-title="FM"><%= order.FM %></td>         
                                                <td data-title="Amount"><%= order.Amount %></td>    
                                                <td data-title="Rate"><%= order.Rate %></td>   
                                                <td data-title="AmountReceived"><%= order.AmountReceived %></td>   
                                            </tr>
                                            <% }); %>
                                        </tbody>
                                    </table>
                        </div>
                        <div class="tab-pane container fade" id="tab2primary">
                                <table id="tblPurchaseOrder" class="table table-hover table-mc-light-blue">
                                        <thead>
                                            <tr>
                                            <th>Order#</th>
                                            <th>Currency Name</th>
                                            <th>FMTC</th>
                                            <th>Amount</th>
                                            <th>Rate</th>
                                            <th>Amount Paid</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%PurchaseOrderList.forEach(function(order){%>
                                            <tr onclick="RedirectToViewPO('<%= order.OrderNo %>',event)">          
                                                <td data-title="OrderNo" onclick="RedirectToViewPO('<%= order.OrderNo %>',event)"><a><%= order.OrderNo %></a></td>
                                                <td data-title="Name" ><%= order.CurrencyName %></td>
                                                <td data-title="FMTC"><%= order.FMTC %></td>         
                                                <td data-title="Amount"><%= order.Amount %></td>    
                                                <td data-title="Rate"><%= order.Rate %></td>   
                                                <td data-title="AmountPaid"><%= order.AmountPaid %></td>   
                                            </tr>
                                            <% }); %>
                                        </tbody>
                                    </table>

                        </div>
                        
                      </div>


          
        </div>

  <!-- Table starts here -->

  </div>
  </div>

</div>

  <!-- Modal -->
  <div class="modal fade" id="modalUpdateCurrency" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Update currency details</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="txtCurrencyName" id=lblCurrencyName>Currency</label>
            <input class="form-control" id="txtCurrencyName" type="text">
          </div>
          <div class="form-group">
            <label for="txtCurrencyVal" id=lblCurrencyVal>Value</label>
            <input class="form-control" id="txtCurrencyVal" type="text">
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" onclick="UpdateCurrencyDetails()">Update value</button>
          </div>
        </div>
      </div>
    </div>
  </div>
