<html>
    <head>
        <title>View Invoice</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/CreatePO.css">
        <link rel="stylesheet" type="text/css" href="/css/gridstyle.css">
        <style>
        .wrapper{
            position: fixed;
            top: 30%;
            left: 34%;
            width: 60em;
            height: 40em;
            margin-top: -9em;
            margin-left: -15em;
        }
        .bordered{
            border: 1px solid black;
        }
        .border-no-top{
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
        }
        .border-right{
            border-right: 1px solid black;
        }
        .row-margin{
            margin-left: 15px;margin-right: 15px;
        }
        </style>
    </head>
    <body>
        <div class="container">
        <div class="starter-template">
        <div class="wrapper">
            <div class="row text-center"><h1>SAYMORE - BUREAU DE  CHANGE</h1></div>
            <div class="row text-center"><h3>SEYCHELLES INTERNATIONAL AIRPORT</h3></div>
            <div class="col-md-12 bordered">
                <div class="col-sm-4 border-right"><label>SOLD</label></div>
                <div class="col-sm-4 border-right"><label>FOREIGN CURRENCY</label></div>
                <div class="col-sm-4"><label>DATE</label></div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Currency Name</th>
                        <th>FM</th>
                        <th>Amount</th>
                        <th>Rate</th>
                        <th>Amount Received</th>
                    </tr>
                    <tbody>
                        <%InvoiceOrderList.forEach(function(order){%>
                        <tr>                          
                            <td data-title="Name" ><%= order.CurrencyName %></td>
                            <td data-title="FM"><%= order.FMTC %></td>         
                            <td data-title="Amount"><%= order.Amount %></td>    
                            <td data-title="Rate"><%= order.Rate %></td>   
                            <td data-title="AmountReceived"><%= order.AmountReceived %></td>   
                        </tr>
                        <% }); %>
                    </tbody>
                </thead>
            </table>
            <div id="divSignature">
                <div class="row bordered">
                    <div class="col-sm-6 border-right">NAME</div>
                    <div class="col-sm-6">SIGNATURE</div>
                </div>
            </div>
            <div id="divAddress">
                <div class="row">
                    <div class=" col-md-6 border-no-top"><label>Address</label></div>
                    <div class="col-md-6"></div>
                </div>
                <div class="row">
                    <div class=" col-md-6 border-no-top"><label></label></div><div class="col-md-6"></div>
                </div>
                <div class="row">
                    <div class=" col-md-6 border-no-top"><label></label></div><div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </body>
</html>